{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/test_product.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/search_test.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/header.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/formstyle.css" %}">
    <title>test</title>
</head>
<body>
<div class="header">

  <div class="header-right">
    <a class="active" href="{% url "Store:product" %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url "Account:profile_detail" %}">Profile</a>
        <a href="{% url "Store:cart" %}">Cart</a>
        <a href="{% url "Account:purchase" %}">Purchases</a>
        <a href="{% url "Account:logout" %}">Logout</a>
      {% else %}
          <a href="{% url "Account:login" %}">Sign in</a>
      {% endif %}
  </div>
</div>
        <form action="" method="get">
            <div class="wrap">
                <div class="search">
                    {% include "Store/_home.html" with field=find.name %}
                    <button type="submit" class="searchButton">Search</button>
                </div>
            </div>
            <div class="box">
                {% include "Store/_home.html" with field=find.category %}
            </div>
            <div class="box" style="transform: translate(400%, -750%)">
                {% include "Store/_home.html" with field=find.price %}
            </div>
            <a href="{% url "Store:product" %}"> <button type="button"  class="reset-button" id="trans">reset</button></a>
        </form>
<h2 style="text-align: center; margin: 0;background: -webkit-linear-gradient(90deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">Recommended list</h2>
{% for j in related %}
    <div class="card" style="background-color:  #FA8BFF;
    background-image: -webkit-linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-image: -moz-linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-image: -o-linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);">
        <img src="{{ j.product_img.url }}" alt="Denim Jeans" style="width:100%; height: 190px; ">
        <h1>{{ j.name }}</h1>
        <p class="price">${{ j.price }}</p>
        <p class="price">{{ j.inventory }}</p>
        {% if user.is_authenticated %}
            <a href="{% url "Store:add" num=j.id %}" class="add_text">Add to Cart</a>
        {% else %}
            <a href="{% url "Account:login" %}" class="add_text">Add to Cart</a>
        {% endif %}
    </div>
{% endfor %}

{% for i in products %}
    <div class="card" style="background-color: {% if  i.inventory > 30 %} #d1fad1 {% elif 30 > i.inventory and i.inventory > 10  %} #f5eece
            {% else %} #f8d8d8 {% endif %}">
        <img src="{{ i.product_img.url }}" alt="Denim Jeans" style="width:100%; height: 190px; ">
        <h1>{{ i.name }}</h1>
        <p class="price">${{ i.price }}</p>
        <p class="price">{{ i.inventory }}</p>
        {% if user.is_authenticated %}
            <a href="{% url "Store:add" num=i.id %}" class="add_text">Add to Cart</a>
        {% else %}
            <a href="{% url "Account:login" %}" class="add_text">Add to Cart</a>
        {% endif %}
    </div>
{% endfor %}

</body>
</html>