{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/header.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/css/formstyle.css" %}">
</head>
<body>
    <div class="header">

  <div class="header-right">
    <a class="active" href="{% url "Store:product" %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url "Store:cart" %}">Cart</a>
          <a href="{% url "Account:purchase" %}">Purchases</a>

        <a href="{% url "Account:logout" %}">Logout</a>
      {% else %}
          <a href="{% url "Account:login" %}">Sign in</a>
      {% endif %}
  </div>
</div>
    <ul>

        <li>First name  = {{ profile.user.first_name}}</li>
        <li>Last name = {{ profile.user.last_name}}</li>
        <li>Email = {{ profile.user.email }}</li>
        <li>Balance = {{ profile.balance }}</li>
    </ul><br>
    <a href="{% url "Account:pay" %}" class="reset-button" id="trans">Payment</a>
    <a href="{% url "Account:edit" %}" class="reset-button">edit</a>

</body>
</html>